.body {
    background-color: darkslategrey;
    color: lightgray;
    /*padding-top: 10px;*/
    font-family: "Century Gothic";
    justify-content: left;
    margin: auto;
    width: 60%;
    border: 5px silver;
    padding: 8px;
    border-style: double;
    border-color: darkgray;
}

.body2 {
    background-color: darkslategrey;
}

/* testing a comment */

h1 {
    color: lightpink;
    font-family: "HoloLens MDL2 Assets";
}

h2 {
    color: beige;
}

h3 {
    color: indianred;
}

h4 {
    color: azure;
}

h5 {
    color: fuchsia;
}

h6 {
    color: darkviolet;
}

a:link {
    color: burlywood;
}

a:visited {
    color: burlywood;
}

a:hover {
    color: blueviolet;
}

a:active {
    color: burlywood;
}

img {
    width: 1140px;
    length: 400px;
}


ol {
    color: coral;
    font-family: Arial;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

button {
    font-family: "Comic Sans MS";
    color: coral;
    background-color: bisque;
}

button:focus {
    background-color: azure;
}

#navbar {

    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: darkgray;
    background-color: darkgray;
    position: fixed;
    top: 0;
    width: 100%;
    border: 1px solid #e7e7e7;
}

#navbar a {
    float: left;
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}



.sticky {
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    display: inline;
    float: left;
    padding: 8px;
    background-color: lightgray;
    color: black;
}

.content a:hover {
    background-color: darkgray;
    color: pink;
}

.active {
    background-color: black;
}

.navigationBar {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: rgb(177, 148, 112);
    position: fixed;
    top: 0;
    width: 100%;
    font-family: "Lucida Handwriting";
}

.navigationBar li {
    float: left;
}

.navigationBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 23px 25px;
    text-decoration: none;
}

.navigationBar li a:hover {
    background-color: rgb(118, 69, 59);
}

.active {
    background-color: saddlebrown;
}

.typeTable {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
}

.normal {
    background-color: tan;
    color: whitesmoke;
}

.fire {
    background-color: orange;
    color: whitesmoke;
}

.water {
    background-color: dodgerblue;
    color: whitesmoke;
}

.grass {
    background-color: forestgreen;
    color: whitesmoke;
}

.electric {
    background-color: yellow;
    color: black;
}

.ice {
    background-color: lightblue;
    color: black;
}

.fighting {
    background-color: darkred;
    color: whitesmoke;
}

.poison {
    background-color: purple;
    color: whitesmoke;
}

.ground {
    background-color: saddlebrown;
    color: whitesmoke;
}

.flying {
    background-color: skyblue;
    color: black;
}

.psychic {
    background-color: deeppink;
    color: whitesmoke;
}

.bug {
    background-color: darkolivegreen;
    color: whitesmoke;
}

.rock {
    background-color: darkgoldenrod;
    color: whitesmoke;
}

.ghost {
    background-color: mediumpurple;
    color: whitesmoke;
}

.dragon {
    background-color: darkslateblue;
    color: whitesmoke;
}

.dark {
    background-color: black;
    color: white;
}

.steel {
    background-color: lightgray;
    color: black;
}

.fairy {
    background-color: lightpink;
    color: whitesmoke;
}


