body {
    background-color: darkslategrey;
    color: lightgray;
    /*padding-top: 10px;*/
    font-family: "Century Gothic";
    justify-content: left;
    margin: auto;
    width: 60%;
    border: 5px silver;
    padding: 8px;
    border-style: double;
    border-color: darkgray;
}

/* testing a comment */

h1 {
    color: lightpink;
    font-family: "HoloLens MDL2 Assets";
}

h2 {
    color: beige;
}

h3 {
    color: indianred;
}

h4 {
    color: azure;
}

h5 {
    color: fuchsia;
}

h6 {
    color: darkviolet;
}

a:link {
    color: burlywood;
}

a:visited {
    color: burlywood;
}

a:hover {
    color: blueviolet;
}

a:active {
    color: burlywood;
}

img {
    width: 1140px;
    length: 400px;
}

ul{
    color: coral;
    font-family: Arial;
}

ol {
    color: coral;
    font-family: Arial;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

button {
    font-family: "Comic Sans MS";
    color: coral;
    background-color: bisque;
}




